html{
    font-size: 13px;
    font-family: 'Baloo Thambi 2', cursive;
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    text-align: center;
    padding: 10px 0;    
    border:3px solid black;
    color: #00539F;
    text-shadow: 2px 3px 1px black;
}

*{
    font-family: monospace;
    background-color: purple;
    color: limegreen;
  }

  img{
    width: 210px;
    height: 160px;
    /* margin: 10px 200px; */
    display: block;
    margin: 10px auto;
  }
  p,li{
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 1px;
  }
  .center {
    margin: auto;
    background: purple;
    width: 500px;
  }
  
  .outside {
    margin: 3rem 0 0 -3rem;
    background: purple;
    width: 66%;
  }
  img.middle{ vertical-align: middle; }
