p{
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 1px;  
    text-shadow: 2px 3px 7px red;
    font-family: 'Montserrat', sans-serif;
}
label{
    text-shadow: 2px 3px 7px red;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 600px;
    vertical-align: middle;
    margin: 20px auto;
    background-color: #ecffa9;
    /* background-image: url(https://image.freepik.com/vetores-gratis/mapa-de-ruas-com-pinos-e-rotas_23-2147622544.jpg); */
    padding: 20px 20px 20px 20px;
}
.center {
    margin: auto;
    width: 100%;
  }
  