html{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #ff3c3c;
}

input {
    padding: 8px 4px;
    border-radius: 3px;
    border: 2px solid #5cbf2a;
  }

button{
    margin: 10px auto;
}

.classname {
	-moz-box-shadow: 50px 0px 0px -50px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 50px 0px 0px -50px rgba(0, 0, 0, 0);
	box-shadow: 50px 0px 0px -50px rgba(0, 0, 0, 0);
	background-color:#17d74a;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 3px 8px #2f6627;
}.classname:hover {
	background-color:#5cbf2a;
}.classname:active {
	position:relative;
	top:1px;
}

label {
    font-size: 19px;
  }